{% extends 'todos/base.html' %}

{% block content %}
{% if todos %}
    <div class="row">
        {% for todo in todos %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ todo.title }}</h5>
                        <p class="card-text">
                          {{ todo.description|truncatewords:20 }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
